<div class="mycontainer">
    <mat-card>
        <mat-card-title>Enter the fields you want to search by</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <input matInput [(ngModel)]="street" type="text" placeholder="Street" (keyup.enter)="searchAtm()">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="housenumber" type="number" placeholder="House number" (keyup.enter)="searchAtm()">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="postalcode" type="text" placeholder="Postal code" (keyup.enter)="searchAtm()">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="city" type="text" placeholder="City" (keyup.enter)="searchAtm()">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="lat" type="text" placeholder="Latitude" (keyup.enter)="searchAtm()">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="lng" type="text" placeholder="Longitude" (keyup.enter)="searchAtm()">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="distance" type="number" placeholder="Distance" (keyup.enter)="searchAtm()">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="type" type="text" placeholder="Type" (keyup.enter)="searchAtm()">
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" (click)="searchAtm()">Search</button>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="result !== undefined && result !== null && result.length > 0" class="mycontainer">
    <table mat-table [dataSource]="result" class="mat-elevation-z8" #tabla1>
        <ng-container matColumnDef="Street">
            <th mat-header-cell *matHeaderCellDef> Street </th>
            <td mat-cell *matCellDef="let atm"> {{atm.address.street}} </td>
        </ng-container>

        <ng-container matColumnDef="Housenumber">
            <th mat-header-cell *matHeaderCellDef> Housenumber </th>
            <td mat-cell *matCellDef="let atm"> {{atm.address.housenumber}} </td>
        </ng-container>

        <ng-container matColumnDef="Postalcode">
            <th mat-header-cell *matHeaderCellDef> Postalcode </th>
            <td mat-cell *matCellDef="let atm"> {{atm.address.postalcode}} </td>
        </ng-container>

        <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let atm"> {{atm.address.city}} </td>
        </ng-container>

        <ng-container matColumnDef="Latitude">
            <th mat-header-cell *matHeaderCellDef> Latitude </th>
            <td mat-cell *matCellDef="let atm"> {{atm.address.geoLocation.lat}} </td>
        </ng-container>

        <ng-container matColumnDef="Longitude">
            <th mat-header-cell *matHeaderCellDef> Longitude </th>
            <td mat-cell *matCellDef="let atm"> {{atm.address.geoLocation.lng}} </td>
        </ng-container>

        <ng-container matColumnDef="Distance">
            <th mat-header-cell *matHeaderCellDef> Distance </th>
            <td mat-cell *matCellDef="let atm"> {{atm.distance}} </td>
        </ng-container>

        <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let atm"> {{atm.type}} </td>
        </ng-container>

        <ng-container matColumnDef="Show Map">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let atm">
                <button mat-raised-button color="primary"
                    (click)="openDialog(atm.address.geoLocation.lat, atm.address.geoLocation.lng)">
                    Show Map
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</div>